@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

* {
	box-sizing: border-box;
	transition: all ease-in-out 250ms;
}

body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

img {
	max-width: 100%;
	height: 100;
  width: 100;
  margin-left:auto;
  margin-right:auto;
  border-radius: 8px;
}

.container {
	width: 95%;
	max-width: 70em;
	margin: 0 auto;
}

.clearfix::after,
section::after,
footer::after {
	content: '';
	display: block;
	clear: both;
}


/* Column system
=================== */

[class^=col-] {
	width: 100%;
	margin-top: 1em;
}

[class^=col-]:first-child {
	margin-top: 0;
}

.col-1 {
	width: 33.333334%;
	float: left;
}

@media (min-width: 40rem) {

	[class^=col-] {
		float: left;
		padding: 0 .5em;
		margin-top: 0;
	}

	[class^=col-]:first-child {
		padding-left: 0;
	}

	[class^=col-]:last-child {
		padding-right: 0;
	}

	.col-3 {
		width: 50%;
	}

	.col-1 {
		width: 25%;
	}

  .col-2 {
    width: 10%;
  }
}





/* typography
=================== */

h1 {
	font-weight: 300;
	font-size: 1.7rem;
	margin-top: 0;
  color: white
}

p {
	margin-top: 0;
	line-height: 1.5;
}

p:last-of-type {
	margin-bottom: 0;
}

.title {
	font-size: 2.5rem;
	margin-bottom: 1.5em;
	font-weight: 900;
	margin-top: 1em;
}

.title span {
	font-weight: 300;
	display: block;
	font-size: .9em;
}

.title-cta {
	margin: 0 0 .5em;
}

.unstyled-list {
	margin: 0;
	padding: 0;
  list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover
{
     color:#00A0C6;
     text-decoration:none;
     cursor:pointer;
}

@media (min-width:60rem) {

	p {
		font-size: 1.2rem;
		line-height: 1.6;
	}

	.title {
		font-size: 3.7rem;
	}
}

/* buttons */

.button {
	display: inline-block;
	font-size: 1.15rem;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 2px;
	border-style: solid;
	padding: .5em 1.75em;
}

@media (min-width: 60rem) {
	.button {
		font-size: 1.5rem;
	}
}

.button-small {
	font-size: .7rem;
	font-weight: 700;
}

.button-accent {
	color: black;
	border-color: black;
}

.button-accent:hover,
.button-accent:focus {
	background: black;
	color: black;
}

.button-dark {
	color: black;
	border-color: black;
}

.button-dark:hover,
.button-dark:focus {
	background: black;
	color: black;
}

/* Parallax
=================== */

.parallax--bg,
.parallax--box {
	transition: initial;
}



/* header
=================== */

header {
	position: absolute;
	left: 0;
	right: 0;
	margin: 1em;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin: 1em;
}

nav a {
	font-weight: 900;
	text-decoration: none;
	padding: .5em;
	text-transform: uppercase;
	color: white;
	font-size: .8rem;
}

nav a:hover,
nav a:focus {
	color: black;
}

@media (min-width:60rem) {
	.logo {
		float: left;
	}

	nav {
		float: right;
	}
}


/* hero-home
=================== */

.home-hero {
	background-image: url(../img/cal.png);
	background-size: cover;
	background-position: center;
	padding: 10em 0;
	color: black;
}

@media (min-width: 60rem) {
	.home-hero {
		height: 100vh;
		padding-top: 35vh;
	}
}


/* hero-home
=================== */
/*Controls the BOXES and their colors and positions*/
.home-about-textbox {
	background-color: #2DD19A;
	padding: 4em;
	width: 100vw;
	margin-left: -2.5%;;
	color: white;
	position: relative;
}

.home-about-textbox h1 {
	color: white;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: .75em;
	//background: #232323;
	padding: 0 .145em;
}

.home-skills-textbox {
	background-color: #6D9CD9;
	padding: 4em;
  padding-bottom: 0em;
	width: 100vw;
	margin-left: -5%;;
	color: white;
	position: relative;
}

.home-skills-textbox h1 {
	color: white;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: .75em;
	background: #6D9CD9;
	padding: 0 .145em;
}

@media (min-width: 25rem) {
	h1 {
		font-size: 2rem;
	}

	.home-about-textbox {
		padding: 5.5em;
	}

	.home-about-textbox h1 {
		top: .6em;
		padding: 0 .325em;
	}

  .home-skills-textbox {
		padding: 2em;
	}

	.home-skills-textbox h1 {
		top: .6em;
		padding: 0 .325em;
	}
}

@media (min-width: 60rem) {
	h1 {
		font-size: 2.5rem;
	}

	.home-about {
		//background-image: url(../img/profile.png);
		background-repeat: no-repeat;
		//padding-bottom: 10em;
    margin-left: -30%
	}

	.home-about-textbox {
		width: 120%;
		padding: 7em;
		outline-offset: 0em;
		margin-left: 0%;
		top: 0em;
		text-align: left;
		box-shadow: 0 0 4em 0 rgba(0,0,0,.3);
	}

	.home-about-textbox h1 {
		top: .75em;
		left: 6rem;
		transform: translateX(0);
	}

  .home-skills-textbox {
    width: 160%;
		padding: 18em;
    padding-top: 8em;
		outline-offset: 0em;
		margin-left: -30%;
		top: 0em;
		text-align: left;
		box-shadow: 0 0 4em 0 rgba(0,0,0,.3);
	}

	.home-skills-textbox h1 {
		top: .75em;
		left: 6rem;
		transform: translateX(0);
	}


}



/* portfolio
=================== */

.portfolio {
	margin: 6em 0 0;
  padding: 0em;
  background-color: white;
}

.portfolio h1 {
	color: black;
	position: relative;
	left: 19%;
	transform: translateX(-50%);
	top: .75em;
	background: white;
	padding: 0 .145em;
}

.port-item {
	margin: 0;
	position: sticky;
}

.port-item img {
	display: block;
  height: 200px;
  width: 300px;
}

.port-desc {
	position: absolute;
	z-index: 100;
	bottom: 0em;
	left: 0em;
	right: 0em;
	color: white;
	background: rgba(0,0,0,.6);
	padding-bottom: 4em;
}

.port-desc p {
	margin: 4em;
}

@media (min-width: 37rem) {
	.port-item {
		width: 50%;
		float: left;
	}
}

@media (min-width: 60rem) {
	.port-item {
		width: 33.3333334%;
		overflow: hidden;
	}

	.port-desc {
		transform: translateY(150%);
	}

	.port-item:hover .port-desc {
		transform: translateY(0%);
	}
}


/* CTA
=================== */

.cta {
	background-color: #EC9BB3;
	padding: 5em 0;
}


/* Footer
=================== */

footer {
	background: #454653;
	color: white;
	text-align: left;
	padding: 5em 0;
}
